@mixin opensans-font($type, $weight) {
    $url: "./fonts/OpenSans/OpenSans-#{$type}";
    @font-face {
        font-family: 'Open Sans';
        src: local('Open Sans #{type}'), local('OpenSans-#{type}'),
            url('#{$url}.eot?#iefix') format('embedded-opentype'),
            url('#{$url}.woff') format('woff'),
            url('#{$url}.ttf') format('truetype');
        font-weight: $weight;
    }
}