.about {
    padding: 140px 0;

    .img-block {
        width: 100%;
        margin-bottom: 30px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .content {
        .badge {
            background-color: $color-9;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 10px;
            @include section-title(35px);
        }

        .text {
            margin-bottom: 10px;
            @include standart-font-style;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .card {
            margin-top: 30px;
            border: none;

            .card-body {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding-left: 0;

                .counter {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    max-width: 200px;
                    width: 100%;
                    height: 220px;
                    background-color: $color-9;
                    text-align: center;

                    span {
                        @include section-title;
                        font-size: 80px;
                        line-height: 88px;
                        color: $color-6;
                    }

                    small {
                        @include section-title;
                        @include standart-font-style;
                        font-size: 20px;
                        line-height: 26px;
                    }
                }

                .items-list {
                    margin-top: 30px;
                    
                    p {
                        margin-bottom: 10px;
                        @include standart-font-style;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}