.footer {
    padding-top: 60px;
    padding-bottom: 85px;
    background-color: $color-3;

    .footer__top {
        position: relative;
        padding-bottom: 25px;

        .logo-link {
            img {
                max-width: 185px;
                padding: 5px 0;
            }
        }

        .icon-col {
            position: relative;
            display: flex;
            align-items: center;

            .link {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                &:hover ~ .icon {
                    color: $color-6;
                    background-color: $color-1;
                }

                &:hover ~ .content small {
                    color: $color-6;
                }
            }

            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                max-width: 48px;
                width: 100%;
                height: 48px;
                font-size: 24px;
                color: $color-1;
                background-color: $color-6;
                border: 1px solid $color-6;
                border-radius: 50%;
                transition: .3s ease;
            }

            .content {
                display: none;
                flex-direction: column;
                margin-left: 10px;
                @include standart-font-style;
                color: $color-1;

                span {
                    font-size: 20px;
                }

                small {
                    transition: .3s ease;
                }
            }
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0;
            background-color: $color-8;
        }
    }

    .footer__bottom {
        padding-top: 40px;

        .about-text {
            @include standart-font-style;
            color: $color-1;
            font-size: 18px;
        }

        .social-list {
            display: flex;
            margin-top: 50px;

            li {
                margin-left: 15px;

                &:first-of-type {
                    margin-left: 0;
                }
            }

            .social-link {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 60px;
                height: 60px;
                font-size: 24px;
                color: $color-1;
                background-color: #2C3765;
                border-radius: 50%;
                transition: .1s ease-in;

                &:hover {
                    color: #2C3765;
                    background-color: $color-1;
                }
            }
        }

        .nav {
            li {
                .nav-link {
                    @include standart-font-style;
                    color: $color-1;
                    transition: .1s ease;

                    &:hover {
                        background-color: $color-6;
                    }

                    &.disabled {
                        margin-bottom: 10px;
                        color: $color-6;
                    }
                }
            }
        }
    }
}