.offers {
    padding-top: 150px;
    background-color: $color-6;

    .section-header {
        text-align: center;

        .badge {
            margin: 0 auto;
            background-color: $color-1;
        }

        .section-title {
            margin-top: 20px;
            margin-bottom: 10px;
            @include section-title(35px);
            color: $color-1;
        }

        .section-description {
            color: $color-1;
        }
    }

    .nav {
        margin-top: 40px;
        margin-bottom: 40px;
        justify-content: center;

        .nav-item {
            max-width: 290px;
            width: 100%;
            margin: 15px;

            &:first-of-type {
                margin-top: 0;
            }

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .nav-link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            @include standart-font-style;
            font-size: 20px;
            color: $color-1;
            background-color: transparent;
            border: 1px solid $color-1;
            border-radius: 0;

            .icon {
                margin-right: 10px;
            }

            span {
                z-index: 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: auto;
                width: 0;
                color: $color-6;
                background-color: $color-1;
                transition: .3s ease;
            }

            &:hover, &.active {
                color: $color-3;
                border: 1px solid $color-6;

                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }

    .tab-content {
        position: relative;
        padding: 30px;
        margin-bottom: -105px;
        background-color: $color-1;
        box-shadow: -1px 6px 18px rgba($color: $color-2, $alpha: 0.09);

        .badge {
            background-color: $color-9;
        }

        .title {
            margin-top: 20px;
            margin-bottom: 10px;
            @include section-title(35px);
        }

        .text {
            margin-bottom: 10px;
            @include standart-font-style;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .link {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 190px;
            height: 65px;
            margin-top: 30px;
            @include standart-font-style (20px, $color-1);
            background-color: $color-6;
            border-radius: 0;
            overflow: hidden;

            span {
                z-index: 1;
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: auto;
                width: 0;
                background-color: $color-1;
                transition: .3s ease;
            }

            &:hover {
                color: $color-3;
                border: 1px solid $color-6;

                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }

        .img-block {
            width: 100%;
            height: 365px;
            margin-top: 30px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}