.partners {
    padding-top: 60px;
    padding-bottom: 140px;

    .section-header {
        .badge {
            margin: 0 auto;
            background-color: $color-9;
        }

        .section-title {
            @include section-title(35px);
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }

    .swiper-slide {
        text-align: center;

        .partner-link {
            

            img {
                max-width: 180px;
                width: 100%;
                height: 60px;
                object-fit: contain;
            }
        }
    }
}