.subscribe {
    padding: 50px 0;
    color: $color-1;
    background-color: $color-6;

    .row {
        align-items: center;
    }

    .title {
        margin-bottom: 10px;
        @include section-title (32px, $color-1);
    }

    .text {
        margin-bottom: 30px;
        @include standart-font-style;
        font-size: 18px;
        color: $color-1;
    }

    form {
        label {
            display: flex;
            height: 68px;

            input {
                max-width: 390px;
                width: 100%;
                height: 100%;
                padding: 20px 25px;
                margin: 0 -1px;
                background-color: transparent;
                border: 2px solid $color-1;
                outline: none;
                transition: .3s ease-out;

                &::placeholder {
                    @include standart-font-style;
                    font-size: 17px;
                    color: $color-1;
                }

                &:focus {
                    border: none;
                    background-color: $color-7;

                    &::placeholder {
                        color: $color-3;
                    }
                }
            }

            button {
                max-width: 180px;
                width: 100%;
                height: 100%;
                color: $color-3;
                background-color: $color-1;
                border-radius: 0;

                &:hover {
                    color: $color-1;
                    background-color: $color-3;
                }
            }
        }
    }
}